In [56]:
import pandas as pd
import numpy as np

In [58]:
#series

In [60]:
love_artist={"rihanna":1,"dua lipa":2,"sabrina carpenter":3,"Michael Jackson":4}

In [62]:
pd.Series(love_artist)#pandas ait series modülü,bunun sayesine satır ve sütunlardan oluşan bir tablo elde ederiz

rihanna              1
dua lipa             2
sabrina carpenter    3
Michael Jackson      4
dtype: int64

In [64]:
nameList=["rihanna","dua lipa","sabrina carpenter","michael jackson"]
ranks=[1,2,3,4]

In [66]:
pd.Series(nameList,ranks)#yer değiştirirsek tablo da değişir

1              rihanna
2             dua lipa
3    sabrina carpenter
4      michael jackson
dtype: object

In [70]:
numpyArray=np.arange(0,8)#sıfırdan yediye kadar bir numpy dizisi

In [72]:
numpyArray

array([0, 1, 2, 3, 4, 5, 6, 7])

In [76]:
pd.Series(numpyArray)#numpy dizimizi bir pandas serimize dönüştürdük,yine bir tablo

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [96]:
newNumpyArray=np.array([21,22,23,24])

In [98]:
pd.Series(newNumpyArray)

0    21
1    22
2    23
3    24
dtype: int32

In [100]:
nameList

['rihanna', 'dua lipa', 'sabrina carpenter', 'michael jackson']

In [120]:
newSeries=pd.Series(data=newNumpyArray,index=nameList)#burda istediğmiz gibi index ve data yapıp,listelerle ile tablo oluşturabiliyoruz

In [122]:
newSeries

rihanna              21
dua lipa             22
sabrina carpenter    23
michael jackson      24
dtype: int32

In [126]:
newSeries["rihanna"]#isimler indexte olunca isme göre değer alabildim

21

In [134]:
newSeries["rihanna"]=25#seri üzerinde esnek bir şekilde değişiklik yapailiyorum

In [136]:
newSeries

rihanna              25
dua lipa             22
sabrina carpenter    23
michael jackson      24
dtype: int32

In [162]:
artist1=pd.Series(data=[10,20,30],index=["ceza","şanışer","sagopa"])

In [164]:
artist2=pd.Series(data=[5,6,7],index=["ceza","şanışer","sagopa"])

In [166]:
artist1

ceza       10
şanışer    20
sagopa     30
dtype: int64

In [168]:
artist2

ceza       5
şanışer    6
sagopa     7
dtype: int64

In [172]:
artist1+artist2#indexler aynı olduğu sürece dataları toplayabilirsin

ceza       15
şanışer    26
sagopa     37
dtype: int64

In [176]:
exam_results1 = pd.Series(data=[70,60,100],index=["A","B","C"])

In [178]:
exam_results2 = pd.Series(data=[80,30,50],index=["A","D","C"])

In [180]:
exam_results1+exam_results2#indexler farklı olursa toplamak yerine NaN döner

A    150.0
B      NaN
C    150.0
D      NaN
dtype: float64